@import "./core/variables";

.card_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: $color-terciary solid 5px;
  border-radius: 50px;
  width: 300px;
  height: 300px;
  list-style: none;
  color: $color-terciary;
  font-family: $font-primary;
  font-size: 10px;
  background-color: $color-secondary;
  &:hover {
    box-shadow: 8px 5px $color-primary;
  }
  &__img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 1px 7px 10px rgb(71, 68, 68);
  }
}
.cards {
  text-decoration: none;
}
