.card_detail__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: green;
}
.home_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &__text {
    font-size: 40px;
    color: $color-secondary;
    font-family: $font-primary;
  }
}
.home_link__img {
  height: 50px;
  width: 50px;
  margin-right: 50px;
}

.card_detail__list {
  list-style: none;
}
