.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_detail {
  width: 550px;
  height: 300px;
  &__list {
    list-style: none;
  }

  &__container {
    line-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid $color-quaternary;
    border-radius: 5px;
    width: 500px;
    background-color: $color-terciary;
    justify-content: space-around;
    align-items: center;
    color: $color-secondary;
  }
  &__img {
    height: 300px;
    width: 300px;
  }
}
.home_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &__img {
    height: 50px;
    width: 50px;
    margin-right: 50px;
  }
  &__text {
    font-size: 40px;
    color: $color-secondary;
    font-family: $font-primary;
  }
}
