@import "./core/variables";

.container_character__notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_character__notfound {
  margin-bottom: 30px;
  font-family: $font-primary;
  color: $color-secondary;
}
.title_character__tryagain {
  font-size: 25px;
  font-family: $font-primary;
  color: $color-secondary;
}
.img_notfound {
  height: 300px;
  width: 500px;
}
