.container_character__notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &__text {
    font-family: $font-primary;
  }
}
.title_character__notfound {
  margin-bottom: 30px;
  font-family: $font-primary;
  color: $color-quaternary;
}
.img_notfound {
  height: 300px;
  width: 500px;
}
