.container_character__notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_character__notfound {
  font-family: $font-primary;
  color: black;
  font-size: 20px;
}
.title_character__tryagain {
  font-size: 25px;
  font-family: $font-primary;
  color: black;
}
.img_notfound {
  height: 100px;
  width: 300px;
  border-radius: 25px;
  box-shadow: 1px 7px 10px black;
}
