.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-quaternary;
  font-weight: bold;
  font-size: 25px;
  font-family: $font-secondary;
  margin-bottom: 50px;
  &_label {
    margin-left: 100px;
    margin-right: 10px;
  }
  &_input__text {
    background-color: $color-primary;
    outline: none;
    border-radius: 10px;
    margin-right: 20px;
  }
}
