.App-footer {
  text-align: center;
  margin-top: 50px;
  font-family: $font-secondary;
  font-size: 30px;
  color: $color-secondary;
}
.credits {
  padding-left: 15px;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: $color-terciary;
}
.icon {
  width: 30px;
}
