@import "./core/variables";

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}
.title {
  font-size: 70px;
  font-family: $font-secondary;
  color: $color-secondary;
}
