@import "./core/variables";

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.title {
  font-size: 40px;
  font-family: Get Schwifty;
  color: $color-secondary;
}
