//Colors

$color-primary: #9ae208;
$color-secondary: #97d8e0;
$color-terciary: rgb(81, 124, 81);
$color-quaternary: #ff2b06;

//Fonts

$font-primary: "Sigmar One";
$font-secondary: "Schoolbell";
